<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        main {
            padding-top: 2em;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <h2>Formulário</h2>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/pessoas/list}">Listar</a>
        </nav>
    </header>
    <main>
        <form th:action="${pessoa.id == null} ? @{/pessoas/save} : @{/pessoas/update}" th:object="${pessoa}"
            method="post">
            <input type="hidden" th:field="*{id}">
            <input type="text" th:field="*{nome}" placeholder="Nome">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
        <p>por Jeferson Ferreira</p>
    </footer>
</body>

</html>